*
{
    margin: 0;
    box-sizing: border-box;
}


/* ================================= 
  Base Element Styles
==================================== */

body
{
    text-align: center;
    font-family: "poppin", "Ariel", sans-serif;
    color: rgb(128, 128, 128);
    
}

h1
{
    margin-top: 0;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

h2
{
    font-size: 20px;
    font-weight: 400;
    word-spacing: 1.2px;
    color: rgb(38, 38, 38);
}

h3 /* title for form */
{
    text-align: left;
    color: rgb(38, 38, 38);
}

fieldset /* organizes deferent parts of form */
{
    border: none;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

input
{
    display: block;
}

/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Heading ---- */

.main-header /* Header portion */
{
    margin-bottom: 25px;
}

.name /* h1 at top of page */
{
    background-color: teal;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.sub-heading /* h2 */
{
    margin: auto;
    margin-bottom: 15px;
}

.sub-heading-paragraph /* only paragraph in header */
{
    width: 95%;
    margin: auto;
    margin-bottom: 35px;
}

/* ---- Layout Containers ---- */

.container /* contains all contents of html except class="name" */
{
    width: 92%;
    margin: auto;
}

/* ---- Page Elements Main---- */

.label-position /* positions labels above inputs */
{
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}



/* ================================= 
  Media Queries 768px
==================================== */