*
{
    margin: 0;
    box-sizing: border-box;
}

/* ================================= 
  Base Element Styles
==================================== */

body
{
    text-align: center;
    font-family: "poppin", "Ariel", sans-serif;
    color: rgb(128, 128, 128);
    
}

h1
{
    margin-top: 0;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

h2
{
    font-size: 20px;
    font-weight: 700;
    word-spacing: 1.2px;
    color: rgb(58, 58, 58);
}

/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Heading ---- */

.main-header /* Header portion */
{
    
}

.name /* h1 at top of page */
{
    background-color: teal;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.sub-heading /* h2 */
{
    margin: auto;
    margin-bottom: 15px;
}

.sub-heading-paragraph /* only paragraph in header */
{
    width: 95%;
    margin: auto;
    margin-bottom: 35px;
    word-spacing: 1.2px;
}

/* ---- Layout Containers ---- */

.container /* contains all contents of html except class="name" */
{
    width: 92%;
    margin: auto;
}

/* ---- Form---- */

fieldset /* organizes deferent parts of form */
{
    border: none;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

legend /* titles to each section of form */
{
    color: rgb(58, 58, 58);
    font-size: 19px;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 20px;
}

label
{
    color: rgb(128, 128, 128);
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="address"],
input[type="number"],
select
{
    display: block;
    width: 100%;
    background: rgb(237, 236, 236);
    border: none;
    height: 40px;
    border-radius: 3px;
}

input[type="placeholder"],
{
    color: rgb(128, 128, 128);
    text-align: right;
}

textarea
{
    display: block;
    width: 100%;
    background: rgb(237, 236, 236);
    border: none;
    height: 80px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.btn
{
    width: 100%;
    height: 60px;
    border: 0;
    font-size: 20px;
    letter-spacing: 1.1px;
}

.btn-submit
{
    background: lightseagreen;
    color: #fff;
    font-weight: 400;
}

input[type="checkbox"],
input[type="radio"]
{
    justify-content: left;
}

fieldset:last-of-type label
{
    display: inline-block;
}

form hr
{
    margin-top: 35px;
}

/* ---- footer---- */

footer
{
    margin-top: 20px;
    margin-bottom: 160px;
}

footer p
{
    font-style: italic;
}

/* ================================= 
  Media Queries 768px
==================================== */

@media (min-width: 768px)
{

}
